<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.auroraops04.auroraops04_blog.mapper.PermissionMapper">
    <select id="listByUserId" resultType="club.auroraops04.auroraops04_blog.entities.Permission">
        select p.* from permission p where p.id in (
            select permission_id from role_permission where role_id in (
                select role_id from user_role where user_id = #{value}
                )
            )
    </select>
    <select id="listByRoleId" resultType="club.auroraops04.auroraops04_blog.entities.Permission">
        select p.* from permission p where p.id in (
            select permission_id from role_permission where role_id = #{value}
        )
    </select>
    <insert id="addToRole">
        insert into role_permission (role_id, permission_id) values (#{roleId}, #{permissionId})
    </insert>
    <delete id="removePermissionFromRole">
        delete from role_permission where role_id = #{roleId} and permission_id = #{permissionId}
    </delete>
</mapper>